* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 60%;
    margin: auto;
}

header {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 40px;

    & div {
        width: 50%;
        & input {
            width: 100%;
        }

    }

    & button {
        width: fit-content;
        padding: 10px 20px;
        border-radius: 5px;
        margin-bottom: 50px;
    }
}